<section>
  <h2 id="about-me">About Myself</h2>
  <hr class="bar"/>
  <div class="about-lock">
    <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
      <div class="flipper">
        <div class="front">
          <div class="face-img">
          </div>
        </div>
        <div class="back">
          <div class="face1-img">
          </div>
        </div>
      </div>
    </div>
    <div class="glyph-icon flaticon-cogwheel28">
    </div>
    <div class="glyph-icon flaticon-computer1">
    </div>
    <div class="glyph-icon flaticon-hosting">
    </div>
    <div class="glyph-icon flaticon-computers13">
    </div>
  </div>
  <div class="blurb">
    <p>Keren is currently a Data Engineer at Capital One and a somewhat recent graduate from the University of North Carolina at Chapel Hill (go heels!).
      Most recently she has been spending a lot of time in the worlds of AWS (Amazon Web Services) and "big data".
      She is involved in the Women in Tech and Open Source initiatives at Capital One - helping and contributing to projects.
      <br><br>
      Keren is passionate about learning and creating, and constantly dreams up ideas.
      Outside of technology, she dances on a hip hop troupe in D.C. and makes pottery.
    </p>
  </div>
  <div class="skill-lock">
  </div>
</section>
