<section>
  <h2 id="about-me">About Myself</h2>
  <hr class="bar"/>
  <div class="about-lock">
    <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
      <div class="flipper">
        <div class="front">
          <div class="face-img">
          </div>
        </div>
        <div class="back">
          <div class="face1-img">
          </div>
        </div>
      </div>
    </div>
    <div class="glyph-icon flaticon-cogwheel28">
    </div>
    <div class="glyph-icon flaticon-computer1">
    </div>
    <div class="glyph-icon flaticon-hosting">
    </div>
    <div class="glyph-icon flaticon-computers13">
    </div>
  </div>
  <div class="blurb">
    <p>Data Engineer @ Capital One. I'm currently playing in the cloud at the intersection of cyber security and big data.
      I am involved in the Women in Tech communities (at work and elsewhere) and contributing to open source projects.
      <br><br>
      Learning and creating are my passions. Whenever I'm not next to my computer, I'm exploring or dancing hip hop with a troupe in Washington D.C.
    </p>
  </div>
  <div class="skill-lock">
  </div>
</section>
