<section class="section-contact">
  <h2 id="Details">Contact Details</h2>
  <hr class="bar"/>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/ktseytlin">
      <div class="glyph-icon flaticon-linkedin">
      </div>
    </a>
    <a href="https://github.com/ktseytlin">
      <div class="glyph-icon flaticon-github">
      </div>
    </a>
    <!-- <a href="https://www.twitter.com/ktseytlin">
      <div class="glyph-icon icon-twitter-square">
      </div>
    </a> -->
  </div>
  <hr class="bar"/>
  <a href="mailto:ktseytlin@gmail.com" class="biglink">ktseytlin@gmail.com</a>
</section>
