<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Experenice">Experience</h2>
    <hr class="bar"/>
  </div>
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/college.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">University of North Carolina - Chapel Hill </h2>
        <P>Graduated with a double major in Mathematical Decision Sciences (Honors) and Economics, with a minor in Computer Science. Recieved an Honors research grant and a scholarship to study abroad in Asia (National University of Singapore).
        Part of a three-person organizing team for Pearl Hacks, one of the largest female collegiate hackathons. </P>
        <span class="cd-date">2011-2015</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="../assets/img/idea14.svg" alt="College"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2>IBM Power Source Conference, Speaker</h2>
        <p>Invited to speak at the annual IBM Power Source conference in Las Vegas about entrepreneurship in the collegiate hackathon sphere.</p>
        <span class="cd-date">May 2015</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/web-programming.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2>Capital One, Engineer</h2>
        <p>Building data as a service platform that brings in data from multiple sources and transforms it into the format of an ontology. Creating CI/CD pipeline (Terraform, Ansible, Jenkins) and developing platform (Play Framework, Scala, Kafka, HBase, and more). </p>
        <span class="cd-date">July 2015 - Recent</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
          <img src="../assets/img/question30.svg" alt="Location"/>
        </div>
      </div><!-- cd-timeline-->
    </div>
  </section>

  <div class="cd-timeline-header">
    <h2 id="Presentations">Conferences</h2>
    <hr class="bar"/>
    <p align = "center"> Capital One Software Engineering Conference (Internal), Speaker - 05.24.2015 @ Richmond, VA
      <br> "Building Modular Cloud Infrastructure with Terraform"
    </p>
    <p align="center" font-weight="bold"> Women in Tech New York, Facilitator - 01.28.2016 @ New York, NY
    </p>
    <p align = "center"> IBM Power Source Annual Conference, Speaker - 05.10.2015 @ Las Vegas, NV
      <br> "Enterpreneruship and Hackathons"
    </p>
    <p align="center"> Southeast Collegiate Regional Fitness Expo, Speaker - 02.28.2015 @ University of Maryland
      <br> "Non Verbal Cuing: Methods and Practice"
    </p>
  </div>

  <div class="cd-timeline-header">
    <h2></h2>
  </div>
</div>
